.cardBody {
    height: 7.7vw;

    border-radius: 13%;

    background-color: white;

    border: solid black;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.hidden {
    border: solid white 0.2vw;
}

.dragLayer {
    display: grid;
    grid-template-rows: repeat(50, -5.5vw);
    max-width: 5.5vw;
    max-height: 7vw !important;
}