.cardBody {
    width: 5.5vw;
    aspect-ratio: 0.714;

    border-radius: 13%;

    background-color: white;

    margin-top: -5.5vw;
    border: solid black;
}

.hidden {
    background-color: black;
    border: solid white;
}