.cardBody {
    width: 5.5vw;

    border-radius: 13%;

    background-color: white;

    margin-bottom: -5.5vw;
    border: solid black;
}

.c0 {
    margin-top: 2vw;
}

.hidden {
    border: solid white 0.2vw;
}

//removing cards out of stock
.animate {
    margin-top: 3vh;
}

//deck dealing animation (first and following cards)
.animateDeck {
    margin-top: 3vh;
}

.secondary {
    //margin-top: -7.7031vw;
    margin-top: 0 !important;
}