.gameContainer {
    margin-bottom: 3vh;
    margin-top: 0;

    margin-left: 1.5vw;
    margin-right: 1.5vw;

    //background-color: #50c878; //or this #58cc6d

    background-image: url("../cardPics/F.png");
    background-size: 71vw;

    border-radius: 3vw;
    height: 81vh;
    width: 95vw;

    border: inset red 1vw;

    display: flex;
    flex-direction: row;
    gap: 1.7vw;

    padding-left: 0;
    padding-right: 2vw;

    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.foundation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

.column.stock {
    margin-top: 1.5vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 5.5vw;
}

.animateRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.isPaused {
    background-image: url("../cardPics/F.png");
    background-size: 71vw;

    height: 77vh;
    width: 71vw;

    border-radius: 2vw;

    position: absolute;
    text-align: center;
}

.pauseText {
    position: relative;
    bottom: 2vh;

    color: #e64747;
    line-height: 77vh;

    font-size: 20vh;
    font-family: "Brush Script MT";
}