.gameContainer {
    margin: 3vh;
    margin-top: 0;

    background-color: #50c878; //or this #58cc6d
    border-radius: 3vw;
    height: 81vh;
    width: 95%;

    border: inset red 1vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 2vw;
    padding-right: 2vw;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.foundation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

.column.stock {
    margin-top: 1.5vw;

    display: flex;
    flex-direction: row;
    align-content: center;

    width: 5.5vw;
}

.animateRow {
    display: flex;
    flex-direction: row;
    align-content: center;
}