tr:nth-child(odd) {
    background-color: white;
}

// tr:nth-child(even) {
//     background-color: #e64747;
//     color: white;
//     &:hover {
//         color: white !important;
//     }
// }

th {
    background-color: white !important;
    border: solid black 1px !important;
}

tr {
    margin-top: 5vh !important;
}

.lbcontainer {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 3vh;

    display: flex;
    flex-direction: row;
    gap: 2vw;
}