.navbar {
    background-color: #e64747;

    margin-top: 3vh;
    margin-bottom: 3vh;

    margin-left: 1.5vw;
    margin-right: 1.5vw;

    border-radius: 10px;
    height: 10vh;

    .navbar-brand {
        font-weight: bold;
        font-size: 4vh;
        text-shadow: -1px 1px 0 #000;
    }

    .navbar-brand:hover {
        color: lavender !important;
    }

    .navbar-nav {
        font-size: 3vh;
        display: flex;
        flex-direction: row;
        text-shadow: -1px 1px 0 ;
    }
}