.fullnav {
    background-color: #e64747;

    margin-top: 3vh;
    margin-bottom: 3vh;

    margin-left: 1.5vw;
    margin-right: 1.5vw;

    border-radius: 10px;
    height: 10vh;

    padding-left: 6vw;
    padding-right: 4vw;

    display: flex;
    flex-direction: row;
    align-items: center;

    

    .brand {
        justify-self: start;
        font-weight: bold;
        font-size: 4vh;
        text-shadow: -0.15vw 0.3vh 0 #000;
        color: lavender;

        text-decoration: none !important;
    }

    .brand:hover {
        color: lightgray;
        cursor: pointer;
    }

    .navCont {
        margin-left: auto;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2vw;
    
        .direct {
            font-size: 3vh;
            text-shadow: -1px 1px 0;
            text-shadow: -0.15vw 0.2vh 0 #000;
            color: lavender;

            text-decoration: none !important;
        }

        .direct:hover {
            color: lightgray;
            cursor: pointer;
        }
    }

}