@import 'target';

.mainDeck {
    //position: relative;
}

.side {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.display {
    display: grid;
    grid-template-rows: repeat(3, 2.2vw);
    
}

.spacer {
    height: 2vw;
}

.animate {
    margin-top: -3.85vw;
}